<h1>Make your form here</h1>
<form method="post" action="/pirates">
<p>Pirate name: <input type="text" name="pirate[name]"></p>
<p>Pirate weight: <input type="text" name="pirate[weight]"></p>
<p>Pirate height: <input type="text" name="pirate[height]"></p>
<p>Pirate ship one:</p>
  <p>ship_name_1: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship booty: <input type="text" name="pirate[ships][][booty]"></p>
  <p>Pirate ship two:</p>
    <p>Ship name: <input type="text" name="pirate[ships][][name]"></p>
    <p>Ship type: <input type="text" name="pirate[ships][][type]"></p>
    <p>Ship booty: <input type="text" name="pirate[ships][][booty]"></p>
<input type="submit">
</form>
