<h1>Make your form here</h1>
<form method="POST" action="/pirates">
<p>Pirate name: <input type="text" name="pirate[name]"></p>
<p>Pirate weight: <input type="text" name="pirate[weight]"></p>
<p>Pirate height: <input type="text" name="pirate[height]"></p>
<p>Pirate ship one:</p>
  <p>Ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
  <p>Ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
  <p>Ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
  <p>Pirate ship two:</p>
    <p>Ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
    <p>Ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
    <p>Ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
<input type="submit" value="Submit">
</form>
